input {
  width: 100px;
}

.container-bubbles {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.one-bubble {
  border-radius: 50%;
  background-image: url(../img/bubble-mod.png);
  background-position: center;
  background-size: contain;
  animation: bubbleAnimation 2s linear infinite;
}

@keyframes bubbleAnimation {
  0% {
    transform: scale(1, 1);

  }

  25% {
    transform: scale(.95, 1.05);
  }

  50% {
    transform: scale(1, 1);
  }

  75% {
    transform: scale(1.05, .95);
  }

  100% {
    transform: scale(1, 1);
  }
}