div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 3px solid blueviolet;
  background-color: red;
  position: relative;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}



