@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

#container {
  margin: 1rem;
  padding: 1rem;
  background-color: blanchedalmond;
}