@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body, h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

section, div {
  box-sizing: border-box;
}

section {
  border: 1px solid black;
  width: 755px;
  margin: 1rem auto;
  border-radius: 20px;
  padding: 1.5rem 2.5rem;
  display: grid;
  background-color: #FFB084;
  height: 500px;
  gap: 20px;
  grid-template-columns: .4fr .3fr .3fr;
  grid-template-rows: repeat(6, 1fr) 62px;
  font-family: 'Work Sans', sans-serif;
  grid-auto-flow: column;
}

section > div {
  background-color: white;
  border-radius: 15px;
  box-shadow: 7px 7px 0 0 black;
  padding: 1rem 1.5rem;
}

ul {
  padding-left: 25px;
}

ul li {
  font-size: .875rem;
}

.johnny-mc-lonny {
  border: 1px solid black;
  grid-column: 1;
  grid-row: 1/7;
}

.johnny-mc-lonny > div {
  width: 101px;
  margin: 0 auto 1rem;
}

.johnny-mc-lonny p {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}

.johnny-mc-lonny span {
  font-weight: 700;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.i-want {
  padding: .75rem 1.5rem;
  grid-column: 1;
  grid-row: 7;
}

.i-want p {
  font-size: 1rem;
  font-weight: 700;
}

.bio {
  grid-column: 2/4;
  grid-row: 1/3;
}

h2 {
  font-size: .875rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.bio p{
  font-size: .875rem;
}

.goals {
  box-shadow: 7px 7px 0 0 #29A71E;
  grid-column: 2;
  grid-row: 3/5;
}

.goals h2 {
  color: #29A71E;
}

.dream-companies {
  box-shadow: 7px 7px 0 0 #3675B0;
  grid-column: 2;
  grid-row: 5/8;
}

.dream-companies h2 {
 color: #3675B0;
}

.frustrations {
  box-shadow: 7px 7px 0 0 #E13535;
  grid-column: 3;
  grid-row: 3/6;
}

.frustrations h2 {
  color: #E13535;
}

.personality {
  grid-column: 3;
  grid-row: 6/8;
}