div {
  box-sizing: border-box;
}

div:nth-child(1) {
  width: 400px;
  height: 400px;
  border: 1px solid blue;
  background-color: aquamarine;
}

div:nth-child(2) {
  width: 200px;
  border: 1px solid blue;
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
  font-size: 1rem;
}