
* {
  box-sizing: border-box;
}

body, header,nav,section,article,p,aside,footer,main {
  border: 1px solid gray;
  margin: 1rem 0 0 0;
  padding: 1rem;
  text-align: center;
}

body {
  min-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #daa075;
}

.top-header-one { 
  background-color: #f7f5f9;
  color: black;
}

.nav-one {
  background-color: #e4ebf8;
  color: #5c81e4;
}

main {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 0;
  color: black;
}

.section-l {
  width: 62%;
  background-color: #f7f5f9;
}

.section-r {
  width: 37%;
  background-color: #f7f5f9;
}

.section-header {
  background-color: #e0ebfc;
  color: #5c81e4;
}

.article {
  color: #5c81e4;
  background-color: #e0ebfc;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.header-article, p, aside, footer {
  width: 100%;
  color: #78b187;
  background-color: #e4f6ec;
}

.full-paragraph {
  width: 100%;
}

.half-paragraph, aside {
  width: 49%;
}

footer {
  width: 100%;
}

.bottom-footer-section {
  color: #5c81e4;
  background-color: #e0ebfc;
}

.section-r {
  display: flex;
  flex-direction: column;
}

.right-nav {
  color: #5c81e4;
  background-color: #e0ebfc;
  display: flex;
  height: 100%;
  justify-content: center;
}

.body-footer {
  color: black;
  background-color: #f7f5f9;
}
