html,
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #F5F5F5;
  margin: 0 auto;
  position: relative;
}
 
#to-up {
  position: fixed;
  background-color: #5557689E;
  background-image: url(../img/up.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  left: 1rem;
  bottom: 1rem;
  z-index: 10;
}

.header {
  width: 100%;
  height: 90px;
  background-color: #202846;
  top: 0;
  position: sticky;
  z-index: 5;
}

.main-logo {
  width: 178px;
  height: 70px;
  background-image: url(../img/mountain.png);
  background-repeat: no-repeat;
  border-radius: 35px;
  position: absolute;
  left: 2rem;
  top: .625rem;
}

.menu {
  width: 80%;
  position: absolute;
  right: 2rem;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.menu ul li {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  padding-left: 3rem;
  float: left;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu ul li.earth::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url(../img/Earth-Vector.svg);
  background-repeat: no-repeat;
  padding-left: 1rem;
  vertical-align: middle
}

.menu ul li:hover {
  color: yellow;
}

.title {
  background-color: #C6C6DC;
  height: 8.75rem;
  position: relative;
}

h1 {
  margin: 0;
  margin-left: 3rem;
  font-size: 3rem;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #202846;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.main-block {
  background-color: #E8E8E8;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.wrapper-main-block {
  width: 85%;
  margin: 0 auto;
}

.menu-place {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 73px;
  background-color: #F5F5F5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-text {
  position: absolute;
  font-size: 1.75rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(00, 00, 00, .6);
}

.menu a {
  display: flex;
}

.triangle {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 1rem;
  top: calc(50% - 10px);
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
}

.carts {
  width: 100%;
}

.cart {
  width: 100%;
  min-width: 800px;
  height: 350px;
  padding: 1rem;
  background-color: #BDBDC6;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.carts>.cart:hover {
  background-color: #AEAEE2;
  box-shadow: 0 0 2rem #AEAEE2;
}

.carts .photo-container {
  width: 450px;
  height: 100%;
  position: relative;
}

.photo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.carts img {
  width: 100%;
}

.description-photo-container {
  width: 600px;
  position: relative;
  padding: 1rem;
}

.description-photo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 1rem);
}

.description-photo h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.25rem;
  font-style: italic;
  color: #353C57;
  margin-top: 0;
  margin-bottom: .5rem;
  border-bottom: 3px solid white;
}

.description {
  max-height: 250px;
  display: flex;
  background-color: #D7D7DD;
  overflow: visible;
}

.description .text {
  padding: 1rem 2rem;
  color: #202846;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.375rem;
  text-align: center;
  overflow: auto;
}

.star {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
}

.star path:hover {
  fill: yellow;
}

.carts button {
  position: absolute;
  width: 200px;
  height: 60px;
  background-color: #202846;
  border-radius: 30px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  right: -10rem;
  bottom: 0rem;
  border: none;
}

.carts button:hover {
  background-color: #EF075B;
  box-shadow: 0 0 .5rem red;
}

.own-cabinet-block {
  background-color: #E8E8E8;
  width: 100%;
  min-width: 1150px;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.wrapper-own-cabinet-block {
  margin-top: 3rem;
  width: 75%;
  min-width: 800px;
  margin: 0 auto;
  height: 200px;
  background-color: #BDBDC6;
  display: flex;
  justify-content: space-around;
  height: auto;
}

.avatar-block {
  min-width: 250px;
  padding: 1rem 0rem;
}

.anketa-block {
  min-width: 500px;
  padding: 1rem;
 
}

.circle {
  margin: 0 auto;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../img/avatarka.png);
  background-repeat: no-repeat;
}

.own-cabinet-block button {
  margin: 2rem auto;
  display: block;
  width: 200px;
  height: 50px;
  background-color: #202846;
  border-radius: 30px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  border: none;
}

.own-cabinet-block button:hover {
  background-color: #EF075B;
  box-shadow: 0 0 .5rem red;
}

.anketa-block table {
  color: #353C57;
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.own-cabinet-block table tr td {
  padding: 1rem 0;
  border-bottom: 2px solid white;
}

.anketa-block span {
  font-weight: bold;
}

.contakts {
  background-color: #E8E8E8;
  width: 70%;
  min-width: 835px;
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin: 0 auto;
}

.row-one {
  min-width: 835px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contakts table {
  width: 250px;
  height: 100px;
}

.row-one table {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}

.row-one thead th {
  font-weight: 100;
  border-bottom: 2px solid black;
  text-align: left;
  padding-left: 1rem;
}

.contakts tbody tr:nth-child(1) td{
  padding-top: 1rem;
}

.row-one img {
  width: 550px;
}

.footer {
  width: 100%;
  height: 90px;
  background-color: #202846;
  padding-top: 1.5rem;
  padding-left: 8rem;
}

.footer h3 {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  white-space: nowrap;
}