html,
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  min-width: 850px;
  max-width: 1000px;
  border: 1px solid gray;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.strong-text-color {
  color: #3E45E8;
}

.ukraine-text-color {
  color: #E8C23E;
}

.strong-text-color, .ukraine-text-color {
  text-transform: uppercase;
}

.top-img {
  width: 100%;
  height: 560px;
  background-image: url(../img/top.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 5rem;
  position: relative;
}

.flag-and-title {
  position: absolute;
  width: calc(100% - 10rem);
  left: 5rem;
  top: calc(50% - 7rem);
}

.flag {
  width: 2rem;
  display: inline;
  float: left;
}

.flag img {
  width: 1rem;
}

.title {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.middle-block {
  padding-left: 5rem;
  padding-right: 5rem;

}

h2 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.carts {
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.cart {
  width: 35%;
  border: 1px solid #c6c6c6;
  border-radius: 1.5rem;
  min-width: 200px;
  text-align: center;
  float: left;
}

.carts img {
  width: 100%
}

h3 {
  font-size: 1.5rem;
  color: #1E8DF2;
}

h4 {
  font-size: 1.25rem;
  color: #E8C23E;
}

.carts>div {
  margin: .85rem;
  box-shadow: 0 0 2rem gray;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.center-h2 {
  text-align: center;
}

.center-line {
  text-align: center;
}

.center-ukraine {
  width: 100%;
  text-align: center;
}

.center-ukraine img {
  margin-top: 2rem;
  width: 80%
}

.btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.btn button {
  background-color: #2A61F0;
  border-radius: .5rem;
  color: white;
  font-size: 3rem;
  width: 350px;
  height: 100px;
  cursor: pointer;
}

.footer {
  background-color: #2F4A4B;
  height: 300px;
}

.footer p {
  text-align: center;
  font-size: 2.25rem;
  margin: 1rem;
}

.footer a {
  text-decoration: none;
  color: #A89D9D;
}

.icons {
  text-align: center;
}