html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  min-width: 700px;
  max-width: 1000px;
  background-color: #E5E5E5;
  padding: 4rem 3rem 6.875rem 3rem;
  font-family: 'Public Sans', sans-serif;
}

h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

label {
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin: 1.375rem 0 .5rem 0;
}

div[class^="form-"] {
  width: 48.5%;
  min-width: 400px;

}

.information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

select,
input[type="date"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="search"] {
  padding: 0 .5rem 0 .25rem;
  width: 100%;
  height: 35px;
  border: 1px solid #ADADAD;
  border-radius: .25rem;
}

input[name="registration"],
input[type="search"] {
  color: #0050D8;
}

input[id^="text-str-"] {
  background-image: url(../img/Strelka_vniz.png);
  background-repeat: no-repeat;
  background-position-x: 99.5%;
  background-position-y: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../img/Kalendarik.png);
}

input[type="date"]:disabled::-webkit-calendar-picker-indicator {
  background: url(../img/Kalendarik.png);
}

.form-information-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label>span:first-of-type {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #ADADAD;
  border-radius: .25rem;

}

input[type="checkbox"]+label>span:nth-of-type(2) {
  padding-left: .5rem;
  padding-top: .25rem;
}

input[type="checkbox"]:checked+label>span:first-of-type {
  background-image: url(../img/checked-checkbox.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF00FF;
}

input[type="checkbox"]+label {
  display: flex;
}

hr {
  margin: 2rem 0 2rem 0;
}

.maternity-information,
.official-use,
.system-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.maternity-information>div,
.official-use>div,
.system-information>div {
  width: 48.5%;
  min-width: 400px;
}

input[type="search"] {
  background-image: url(../img/Lupa.png);
  background-repeat: no-repeat;
  background-position-x: 99.5%;
  background-position-y: center;
}

button {
  width: 69px;
  height: 40px;
  background-color: #0050D8;
  border: none;
  border-radius: .25rem;
  color: white;
  float: right;
  cursor: pointer;
}

button:hover {
  background-color: #2171fd;
}