@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div {
  box-sizing: border-box;
}

#container {
  width: 90%;
  margin: 0 auto;
}

#container div {
  padding: 1rem;
  width: 100%;
}

.my-header {
  height: 100px;
  background-color: aquamarine;
}

.my-body {
  height: 500px;
  background-color: rgb(255, 188, 101);
}

.my-footer {
  height: 100px;
  background-color: grey;
}
