@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

 * {
  box-sizing: border-box;
}

header {
  border: 1px solid black;
  height: 10vh;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.nav-size {
  width: 100%;
  height: 10vh;
}

.nav-logo {
  border: 1px solid black;
  height: 100%;
}

.nav-logo img {
  height: 100%;
 }
.nav-and-search {
  border: 1px solid black;

}

.nav-list {
  border: 1px solid black;
  width: 60%;
  justify-content: space-around;
}

.nav-search {
  border: 1px solid black;

}