html,
body {
  margin: 0;
}

.container {
  width: 85%;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

img {
  width: 100%;
}

.small-photo {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-family: Arial Narrow;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

h4 {
  font-family: Arial Narrow;
  margin-top: .25rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line {
  width: 100%;
  height: .5rem;
  background-color: #0A2D50;
}

.screenshot {
  text-align: left;
  width: 35%;
  min-width: 300px;
  border: 1px solid #c6c6c6;
}

.circle-photo {
  width: 200px;
}