body,
html {
  margin: 0;
}

.container {
  width: 70%;
  margin: 1rem auto;
}

.text-bold {
  font-family: Arial;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.text-regular {
  font-family: Arial;
}

h1,
h2,
h3 {
  margin-top: 2rem;
}

h1{
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #072CB0;
}

ol li a {
  color: black;
}

ol span {
  color: #072CB0;
}

a span.text-italic {
  font-style: italic;
}

.hair-line {
  color: #EFEFEF;
}

ul, ol {
  padding-left: 1rem;
}

ul li {
  list-style-image: url(/img/circle.svg);
  margin: .5rem 0;
  padding-inline-start: .5rem;
}

.contents ul {
  padding-left: 0;
}

.contents span {
  color: black;
}

.contents ul li {
  color: black;
  list-style-image: none;
  list-style: none;
  padding-left: 0;
}

ol li {
  margin: 1rem 0;
  padding-inline-start: .5rem;
}

h3 + ol li{
  margin: .5rem 0;
}

.contents {
  margin-left: 2rem;
}