@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div {
  box-sizing: border-box
}

#resultat {
  width: fit-content;
  margin: 0 auto;
  border: 1px solid gray;
  background-color: blanchedalmond;
  padding: 1rem;
  text-align: center;
}

.description {
  font-weight: bold;
}

pre {
  text-align: left;
}