:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

p {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

header {
  width: 800px;
  height: 200px;
  background-color: green;
}

nav {
  width: 100px;
  height: 400px;
  background-color: red;
  display: inline-block;
}

section {
  width: 700px;
  height: 400px;
  background-color: yellow;
  display: inline-block;
  padding: 1rem;
}

span {
  font-weight: bold;
}

footer {
  width: 800px;
  height: 200px;
  background-color: grey;
}