@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

:root {
  font-family: 'Inconsolata', monospace;
}

h2 {
  padding: 0;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 2rem 0 1rem 0;
}