html,
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

body {
  background-color: #212529;
}

.container {
  width: 95%;
  min-width: 800px;
  margin: 2rem auto;
}

.top-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yellow-top-logo {
  width: 65px;
}

.yellow-top-logo img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
  min-width: 400px;
  list-style: none;
}

li {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  color: white;
  font-weight: 400;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: #FFB742;
}

button {
  width: 121px;
  height: 54px;
  background-color: #FFB742;
  border-radius: 27px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  border: none;
  margin-top: 2rem;
}

button a {
  text-decoration: none;
  color: black;
}

.top-navigation button {
  margin: 0;
}

button:hover {
  box-shadow: 0 0 .5rem #FFB742;
  cursor: pointer;
}

.hi-i-am {
  margin-top: 5rem;
  width: 100%;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: white;
  text-transform: capitalize;
}

.hi-i-am p:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hi-i-am span {
  color: #FFB742;
  text-decoration: underline;
}

.hi-i-am p:nth-child(2) {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}

.hi-i-am p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 400;
}

.hi-i-am img {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.experience {
  width: 100%;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.cart {
  width: 32%;
  min-width: 250px;
  height: 120px;
  margin: .5rem .25rem;
  background-color: #292B2E;
  border-radius: .5rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.angle {
  width: 7px;
  height: 12px;
  background-image: url(../img/Angle.svg);
}

.one .icon {
  background-image: url(../img/emblem-1.svg);
}

.two .icon {
  background-image: url(../img/check-mark.svg);
}

.three .icon {
  background-image: url(../img/happy.svg);
}

.cart .description p {
  text-align: center;
  margin: 0;
  color: white;
}

.experience .description p:nth-child(1) {
  font-size: 2rem;
  color: #FFB742;
  margin-bottom: .5rem;
}

.experience .description p:nth-child(2) {
  font-size: 1rem;
  text-transform: capitalize;
}

.cart:hover {
  background-color: #FFB742;
}

.cart:hover .description p {
  color: #212529;
}

.about-me {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 3rem;
}

.image-me {
  width: 40%;
}

.image-me img {
  width: 100%;
}

.description-about-me {
  width: 60%;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: 2rem;
}

.no-button {
  padding-top: .75rem;
  color: #FFB742;
  width: 148px;
  height: 42px;
  background-color: #FFFFFF14;
  border-radius: 21px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.about-me button {
  margin-top: 2rem;
}

.description-about-me p:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: .5rem 0 .5rem 0;
}

.description-about-me p:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

.my-skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.my-skills-description {
  width: 50%;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.skills-icons {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.my-skills-description p:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: .5rem 0 .5rem 0;
}

.my-skills-description p:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

.skills-icons > div {
  width: 80px;
  height: 80px;
  background-color: #383E45;
  margin: .5rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .5rem;
}

.skills-icons > div:hover {
  background-color: #FFB74280;
}

.skills-icons > div[id^="icons"] {
  transition: all .5s;
}

#icons01 {
  background-image: url(../img/vscode-icons_html-5.svg);
}

#icons02 {
  background-image: url(../img/vscode-icons_css-3.svg);
}

#icons03 {
  background-image: url(../img/logos_javascript.svg);
}

#icons04 {
  background-image: url(../img/icon-git.svg);
}

#icons05 {
  background-image: url(../img/logos_bootstrap.svg);
}

#icons06 {
  background-image: url(../img/icon-Xd.svg);
}

#icons07 {
  background-image: url(../img/logos_sass.svg);
}

#icons08 {
  background-image: url(../img/logos_typescript-icon.svg);
}

#icons09 {
  background-image: url(../img/logos_python.svg);
}

#icons10 {
  background-image: url(../img/waves.svg);
}

#icons11 {
  background-image: url(../img/logos_figma.svg);
}

#icons12 {
  background-image: url(../img/git-cat.svg);
}

.works {
  width: 100%;
  margin-top: 3rem;
}


.works .no-button {
margin: 0 auto;
}

.works > p {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: .5rem 0 2rem 0;
  color: white;
  text-align: center;
}

.menu-works ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1rem;
}

.menu-works ul li {
  display: inline-block;
  margin: 0 1rem;
  padding: .25rem .5rem;
}

.works li:hover {
  background-color: #FFB742;
  border-radius: .25rem;
  color: #1C1C1C;
}

.three-big-photos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.three-big-photos > div {
  width: 390px;
  border-radius: .5rem;
  margin: .5rem .5rem;
}

.three-big-photos img {
  width: 100%;
}

.three-small-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.three-small-photos > div {
  width: 390px;
  border-radius: 5rem;
  margin: .5rem;
}

.three-small-photos img {
  width: 100%;
}

.customer-says {
  width: 100%;
}

.customer-says .no-button {
  margin: 0 auto;
}

.customer-says p {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: .5rem 0 .5rem 0;
  color: white;
  text-align: center;
}

.three-cards {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.three-cards > div {
  width: 390px;
  padding: 2rem 1rem;
  border: 1px solid white;
  background-color: white;
  border-radius: .5rem;
  margin: .5rem;
}

.star {
  width: 13px;
  height: 13px;
  background-image: url(../img/Star.png);
  float: left;
  margin-right: .4rem;
}

.text-in-card {
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: left;
  font-size: 1.25rem;
  line-height: 2.125rem;
  margin-top: 2rem;
}

.three-cards div .avatarka {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-in-cart {
  margin-left: 1.5rem;
}

.description-in-cart .name {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.25rem;
  text-align: left;

}

.description-in-cart .designer {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.125rem;
  text-align: left;
}

.footer {
  padding: 5rem;
  width: 100%;
  background-color: #1C1C1C;
  display: flex;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.footer .kartik .first-row {
  color: #FFB742;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.second-row {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2;
}
.footer ul {
  margin-top: 2rem;
}

.footer ul li {
  font-size: 1rem;
  font-weight: lighter;
  padding: .5rem 0;
}

.row-over {
  font-size: 1.375rem;
  font-weight: 700;
}

.footer > div {
  margin: 0 1rem;
}