@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div {
  box-sizing: border-box;
}

#container {
  width: 90%;
  margin: 0 auto;
}

p {
  margin: 2rem 0 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.p-error {
  color: red;
}

span {
  font-weight: bold;
}