@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
}

body,
ul,
p {
  margin: 0;
  padding: 0;
}

div,
header,
section,
form,
textarea {
  box-sizing: border-box;
}

header {
  padding-right: 1rem;
  height: 12vh;
  position: sticky;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.header-logo {
  height: 100%;
}

header img {
  height: 100%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header ul li {
  padding: 0 1rem;
  color: white;
  font-size: 1.75rem;
  border-bottom: 2px solid black;
  transition: transform .25s;
}

header ul a {
  text-decoration: none;
}

header li:hover {
  color: yellow;
  cursor: pointer;
  transform: scale(1.1);
}

.gallery {
  height: 88vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-photo,
.right-photo {
  padding: .5rem;
  width: 20%;
}

.left-photo img,
.right-photo img {
  width: 100%;
}

.center-container {
  width: 55%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.center-container>div {
  width: 47%;
  padding: 0 .5rem;
}

.center-container img {
  width: 100%;
}

.center-container div:nth-child(odd),
.gallery .left-photo {
  position: relative;
  left: -100vw;
  transition: all 1s;
}

.center-container div:nth-child(even),
.gallery .right-photo {
  position: relative;
  right: -100vw;
  transition: all 1s;
}

.center-container div:nth-child(odd) {
  animation: showLeftPhotos 1s ease 0s forwards;
}

.center-container div:nth-child(even) {
  animation: showRightPhotos 1s ease 0s forwards;
}

.gallery .left-photo {
  animation: showLeftPhotos 1s ease 1s forwards;
}

.gallery .right-photo {
  animation: showRightPhotos 1s ease 1s forwards;
}

.services {
  height: 88vh;
  display: flex;
  justify-content: space-between;
}

.circles-block {
  width: 49%;
  position: relative;
}

.barber-photo-block {
  width: 49%;
  height: 100%;
}

.barber-photo {
  height: 100%;
}

.barber-photo img {
  height: 100%;
}

.circles-block div[class^="circl-"] {
  width: 30%;
  height: auto;
  font-size: calc(2vw - 25%);
  font-style: italic;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.circl-one {
  animation: circleAnimation 5s linear 0s infinite;
}

.circl-two {
  animation: circleAnimation 5s linear 1.25s infinite;
}

.circl-three {
  animation: circleAnimation 5s linear 2.5s infinite;
}

.circl-four {
  animation: circleAnimation 5s linear 3.75s infinite;
}

.circles-block div[class^="circl-"] img {
  width: 100%;
}

.circles-block div[class^="circl-"] p {
  margin-top: .5rem;
}

.team {
  padding: 1rem;
  height: 88vh;
}

.team p {
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}

.team-cards {
  display: flex;
  justify-content: space-between;
}

.team-cards>div {
  width: 22%;
  height: 65vh;
  position: relative;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 40px;
  transition: background-color .5s;
}

.team-cards .name {
  width: 100%;
  font-size: 2.5rem;
  position: absolute;
  bottom: 0rem;
  text-align: center;
  height: 0px;
  padding: 0rem;
  color: white;
  background-color: #A3530AB2;
  transition: all .5s;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.team-cards>div:hover .filter {
  background-color: rgba(0, 0, 0, 0);
}

.team-cards>div:hover .name {
  height: 120px;
  padding: 2rem;
}

.team-cards div[meredith] {
  background-image: url(../img/barber_one.png);
}

.team-cards div[jason] {
  background-image: url(../img/barber-two.png);
}

.team-cards div[ryan] {
  background-image: url(../img/barber-three.png);
}

.team-cards div[james] {
  background-image: url(../img/barber-four.png);
}

.contacts {
  height: 88vh;
  padding: 1rem;
}

.form-and-map {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-block p {
  font-size: 2.25rem;
  font-style: italic;
  text-align: center;
  margin: 1rem 0 1rem 0;
  padding: 0 1rem;
}

.form-block {
  width: 55%;
}

.form-block form {
  width: 100%;
  padding: 1.625rem;
  background-color: #E5E5E5;
  font-size: 1.5rem;
  border: none;

}

.name-and-email-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-block form input {
  height: 3rem;
  padding-left: 1rem;
  width: 40%;
  border: none;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  padding: 1rem;
}

.map {
  width: 40%;
}

iframe {
  width: 100%;
  height: 100%;
}

.contact-block {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.contact-block a {
  color: black;
  text-decoration: none;
}

.contact-block p {
  text-align: center;
}

.contact-block span {
  font-style: normal;
  font-weight: 700;
}

.contact-block>div {
  width: 30%;
}

.contact-two>p:nth-child(1),
.contact-three>p:nth-child(1) {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
}


.social-networks-block {
  display: flex;
  justify-content: center;
}

.social-networks {
  display: block;
}

.social-networks>div {
  display: flex;
  margin-bottom: .5rem;
}

.social-networks p {
  margin-left: .5rem;
}

.social-networks img {
  width: 26px;
}

.social-networks p {
  text-align: left;
}