@import url(./main.css);

@media screen and (min-width: 1621px) {
  body>* {
    width: 1621px;
    margin: 0 auto;
  }

  .left-photo {
    order: 1;
  }

  .center-container {
    order: 2;
  }

  .right-photo {
    order: 3;
  }

  @keyframes circleAnimation {

    from,
    to {
      top: .5rem;
      left: .5rem;
    }

    25% {
      top: .5rem;
      left: 34vw;
    }

    50% {
      left: 34vw;
      top: 50vh;
    }

    75% {
      left: .5rem;
      top: 50vh;
    }

  }

}

@media screen and (min-width: 993px) and (max-width: 1620px) {
  body>* {
    width: 100%;
  }

  .left-photo {
    order: 1;
  }

  .center-container {
    order: 2;
  }

  .right-photo {
    order: 3;
  }

  @keyframes circleAnimation {

    from,
    to {
      top: .5rem;
      left: .5rem;
    }

    25% {
      top: .5rem;
      left: 34vw;
    }

    50% {
      left: 34vw;
      top: 50vh;
    }

    75% {
      left: .5rem;
      top: 50vh;
    }

  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

  body>* {
    width: 100%;
  }

  header ul li {
    font-size: 1.5rem;
  }

  header ul {
    flex-wrap: wrap;
  }

  .left-photo {
    order: 1;
  }

  .center-container {
    order: 3;
  }

  .right-photo {
    order: 2;
  }

  .gallery {
    flex-wrap: wrap;
    height: 100%;
  }

  .left-photo,
  .right-photo {
    width: 50%;
  }

  .center-container {
    width: 100%;
  }

  .center-container>div {
    margin: .5rem 0;
  }

  .center-container div:nth-child(odd) {
    animation: showLeftPhotos 1s ease 1s forwards;
  }

  .center-container div:nth-child(even) {
    animation: showRightPhotos 1s ease 1s forwards;
  }

  .gallery .left-photo {
    animation: showLeftPhotos 1s ease 0s forwards;
  }

  .gallery .right-photo {
    animation: showRightPhotos 1s ease 0s forwards;
  }

  .services {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .barber-photo-block {
    width: 100%;
    order: 1;
    text-align: center;
  }

  .circles-block {
    width: 100%;
    height: 88vh;
    order: 2;
  }

  .circles-block div[class^="circl-"] {
    width: 25%;
    font-size: 1.5rem;
  }

  @keyframes circleAnimation {

    from,
    to {
      top: .5rem;
      left: .5rem;
    }

    25% {
      top: .5rem;
      left: calc(75vw - 1.5rem);
    }

    50% {
      left: calc(75vw - 1.5rem);
      top: 50vh;
    }

    75% {
      left: .5rem;
      top: 50vh;
    }

  }

  .team {
    height: 100%;
  }

  .team-cards {
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .team-cards>div {
    width: 48%;
    margin-bottom: 1rem;
  }

  .contacts {
    height: 100%;
  }

  .contacts .contact-block {
    order: 1;
  }

  .contacts .form-and-map {
    order: 2;
  }

}

@media screen and (max-width: 767px) {
  body>* {
    width: 100%;
  }

  header ul li {
    font-size: 1rem;
  }

  header ul {
    flex-wrap: wrap;
  }

  .left-photo {
    order: 1;
  }

  .center-container {
    order: 3;
  }

  .right-photo {
    order: 2;
  }

  .gallery {
    flex-wrap: wrap;
    height: 100%;
  }

  .left-photo,
  .right-photo {
    width: 100%;
  }

  .center-container {
    width: 100%;
    display: block;
  }

  .center-container>div {
    width: 100%;
    margin: .5rem 0;
  }

  .center-container div:nth-child(odd) {
    animation: showLeftPhotos 1s ease 1s forwards;
  }

  .center-container div:nth-child(even) {
    animation: showRightPhotos 1s ease 1s forwards;
  }

  .gallery .left-photo {
    animation: showLeftPhotos 1s ease 0s forwards;
  }

  .gallery .right-photo {
    animation: showRightPhotos 1s ease 0s forwards;
  }

  .barber-photo-block {
    display: none;
  }

  .circles-block {
    width: 100%;
  }

  @keyframes circleAnimation {

    from,
    to {
      top: .5rem;
      left: .5rem;
    }

    25% {
      top: .5rem;
      left: calc(70vw - 1.5rem);
    }

    50% {
      left: calc(70vw - 1.5rem);
      top: 55vh;
    }

    75% {
      left: .5rem;
      top: 55vh;
    }

  }

  .circles-block div[class^="circl-"] {
    font-size: 1.25rem;
  }

  .team {
    height: 100%;
  }

  .team-cards {
    flex-direction: column;
    align-items: center;
  }

  .team-cards>div {
    width: 60%;
    margin-bottom: 1rem;
  }

  .contacts {
    height: auto;
  }

  .form-and-map {
    display: block;
  }

  .form-and-map .form-block {
    width: 100%;
    height: auto;
  }

  .form-and-map .map {
    margin-top: 1rem;
    width: 100%;
    height: 88vh;
  }

  .contact-block {
    display: block;
  }

  .contact-block>div {
    width: 100%;
    margin-bottom: 3rem;
  }

  .form-and-map {
    order: 2;
  }

  .contact-block {
    order: 1;
  }
}

@keyframes showLeftPhotos {
  from {
    left: -100vw;

  }

  to {
    left: 0;
  }
}

@keyframes showRightPhotos {
  from {
    right: -100vw;
  }

  to {
    right: 0;
  }
}